@page "/Artifact/{Id:int}"
@inject IStringLocalizer<Resource> Localizer
@inject IUserEndpoint UserEndpoint
@inject IArtifactEndpoint ArtifactEndpoint
@inject IImageEndpoint ImageEndpoint
@inject IReviewEndpoint ReviewEndpoint
@inject IShoppingCartStorage ShoppingCartStorage
@inject IWishlistEndpoint WishlistEndpoint
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager Navigation
@attribute [Authorize]

<PageTitle>@artifact?.Name</PageTitle>

@if (isLoading)
{
    <LoadingTemplate />
}
else if (artifact is null)
{
    <NotFound />
}
else
{
    <MudGrid Class="mb-3 mt-5">
        <MudItem xs="9">
            @if (string.IsNullOrWhiteSpace(errorMessage) is false)
            {
                <MudAlert Severity="Severity.Error" Class="mb-3">
                    @errorMessage
                </MudAlert>
            }
            <MudGrid>
                <MudItem xs="12">
                    <MudCard Elevation="5">
                        <MudCardHeader>
                            <MudItem xs="12">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex mt-auto mb-auto">
                                        <MudAvatar>
                                            <MudImage Src="@(string.IsNullOrWhiteSpace(vendorImageSource)? "https://dummyimage.com/600x400/000/fff": vendorImageSource)"
                                                      Alt="@artifact?.Vendor?.Name" />
                                        </MudAvatar>
                                        <MudText Typo="Typo.body1"
                                                 Class="fw-bold text-uppercase mt-auto mb-auto mx-1">
                                            @Localizer["vendor"]:
                                            <MudButton OnClick="LoadVendorPage"
                                                       StartIcon="@Icons.Material.Filled.BrandingWatermark" Color="Color.Primary">
                                                @artifact?.Vendor?.Name
                                            </MudButton>
                                        </MudText>
                                    </div>
                                    <MudIconButton Icon="@Icons.Material.Filled.Close" OnClick="ClosePage" />
                                </div>
                            </MudItem>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudGrid Justify="Justify.Center">
                                <MudItem xs="12" Class="text-center">
                                    <MudImage Src="@(string.IsNullOrWhiteSpace(artifactImageSource) ? "https://dummyimage.com/600x400/000/fff": artifactImageSource)"
                                              Alt="@artifact?.Name" Width="500" Height="500" />
                                </MudItem>
                                @if (artifact is not null)
                                {
                                    <MudItem xs="12">
                                        <MudItem Class="mt-auto mb-auto">
                                            <div class="d-flex justify-content-between">
                                                <MudText Typo="Typo.h5" Class="mt-auto mb-auto">
                                                    @artifact?.Name
                                                </MudText>
                                                <MudItem>
                                                    @if (loggedInUser?.Id == artifact?.Vendor.OwnerUserId)
                                                    {
                                                        <MudFab Color="Color.Primary"
                                                                OnClick="SendEditRequestAsync"
                                                                Label="Edit"
                                                                StartIcon="@Icons.Material.Filled.Edit" />
                                                        <MudFab Color="Color.Error"
                                                                OnClick="SendDeletingRequestAsync"
                                                                Label="Delete"
                                                                StartIcon="@Icons.Material.Filled.Delete" />
                                                    }
                                                </MudItem>
                                            </div>
                                        </MudItem>
                                        <MudDivider Class="mt-3 mb-3" />
                                        <MudText Typo="Typo.body1">
                                            @artifact?.Description
                                        </MudText>
                                        <MudText Typo="Typo.subtitle1">
                                            @Localizer["quantity"]: @artifact?.Quantity
                                        </MudText>
                                        <MudText Typo="Typo.subtitle1">
                                            @Localizer["total-price"]: @artifact?.FinalPrice.ToString("0.####")
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <div class="d-flex justify-content-between">
                                            <MudRating SelectedValue="(int)artifact?.Rating" ReadOnly="true"
                                                       Class="mt-auto mb-auto" />
                                            <MudStack Row>
                                             <MudNumericField @bind-Value="selectedQuantity" Label="Quantity" Min="0" Max="(int)artifact?.Quantity"
                                                              Class="mt-auto mb-auto" />
                                             <MudButton OnClick="AddToCartAsync" StartIcon="@Icons.Material.Filled.AddShoppingCart"
                                                        Color="Color.Error" Disabled="!canAddToCart" Class="mt-auto mb-auto">
                                                 @Localizer["add-cart"]
                                             </MudButton>
                                             <MudButton OnClick="AddToWishlistAsync" StartIcon="@Icons.Material.Filled.List"
                                                        Color="Color.Secondary" Disabled="!canAddToWishlist">
                                                 @Localizer["add-wishlist"]
                                             </MudButton>
                                         </MudStack>
                                     </div>
                                 </MudItem>
                                }
                            </MudGrid>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12">
                    <MudPaper Elevation="3" Class="p-2">
                        <MudItem xs="12">
                            <div class="d-flex justify-content-between mb-3 mt-3">
                                <MudText Typo="Typo.h5" Class="text-start text-uppercase fw-bold mt-auto mb-auto">
                                    @reviews?.Count @Localizer["reviews"]
                                </MudText>
                                <MudFab OnClick="LoadReviewPage" Class="mt-auto mb-auto"
                                        StartIcon="@Icons.Material.Filled.Create" Color="Color.Warning"
                                        Label="@Localizer["make-review"]">
                                </MudFab>
                            </div>
                            <MudDivider />
                        </MudItem>
                        <MudItem xs="12" Class="mt-3">
                            @if (reviews is not null && artifact is not null)
                            {
                                <MudVirtualize Items="reviews" Context="r" OverscanCount="10">
                                    <ReviewTemplate @key="r.Id" Review="r" Artifact="artifact" LoggedInUser="loggedInUser"/>
                                </MudVirtualize>
                            }
                        </MudItem>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="3">
            <div class="d-flex justify-content-between">
                <MudText Typo="Typo.h6">Artifacts</MudText>
                <MudButton OnClick="LoadAllArtifactsPage" StartIcon="@Icons.Material.Filled.More">
                    @Localizer["see-more"]
                </MudButton>
            </div>
            <MudDivider Class="mt-3 mb-3" />
            @if (randomArtifacts is not null)
            {
                <MudVirtualize Items="randomArtifacts" Context="a" OverscanCount="10">
                    <ArtifactDetailsTemplate @key="a.Id" Artifact="a" />
                </MudVirtualize>
            }
        </MudItem>
    </MudGrid>
}

