@page "/Artifact/{Id:int}/Review"
@inject IStringLocalizer<Resource> Localizer
@inject IArtifactEndpoint ArtifactEndpoint
@inject IImageEndpoint ImageEndpoint
@inject IReviewEndpoint ReviewEndpoint
@inject IUserEndpoint UserEndpoint
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager Navigation
@attribute [Authorize]

<PageTitle>@Localizer["create-review"]</PageTitle>

@if (noArtifact)
{
    <MudAlert Severity="Severity.Error" CloseIcon="@Icons.Material.Filled.Close"
              CloseIconClicked="ClosePage" ShowCloseIcon="true">
        @Localizer["not-found"]
    </MudAlert>
}
else if (isCreatingReview is false)
{
    <MudGrid Class="mt-3 mb-5">
        @if (string.IsNullOrWhiteSpace(errorMessage) is false)
        {
            <MudAlert Severity="Severity.Error" Elevation="3">
                @errorMessage
            </MudAlert>
        }
        <MudItem xs="12">
            <EditForm Model="review" OnValidSubmit="CreateReviewAsync">
                <DataAnnotationsValidator />
                <MudCard>
                    <MudCardMedia Image="@((string.IsNullOrWhiteSpace(imageSource) ? "https://dummyimage.com/600x400/000/fff" : imageSource))"
                                  Height="200" />
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText>
                                <div class="d-flex">
                                    <MudText Color="Color.Default" Typo="Typo.h6" Class="mx-1">
                                        @Localizer["make-review-for"] 
                                    </MudText>
                                    <MudText Color="Color.Primary" Typo="Typo.h6">
                                        '@artifact?.Name'
                                    </MudText>
                                </div>
                            </MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Material.Filled.Close" OnClick="RedirectArtifactPage" />
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudItem xs="12">
                            <MudItem>
                                <MudTextField @bind-Value="review.Title" T="string" Label=@Localizer["review-title"]
                                              Required="true" Variant="Variant.Outlined" Clearable="true"/>
                                <MudText Color="Color.Error">
                                    <ValidationMessage For="() => review.Title"/>
                                </MudText>
                            </MudItem>
                            <MudItem>
                                <MudTextField @bind-Value="review.Description" T="string" Label=@Localizer["review-description"]
                                              Required="true" Lines="2" Variant="Variant.Outlined"Clearable="true"/>
                                <MudText Color="Color.Error">
                                    <ValidationMessage For="() => review.Description"/>
                                </MudText>
                            </MudItem>
                        </MudItem>
                        <MudDivider Class="mt-3 mb-3" />
                        <MudText Typo="Typo.subtitle1">@Localizer["your-rating"]</MudText>
                        <MudItem xs="12">
                            <MudRating @bind-SelectedValue="review.Rating" Size="Size.Large" MaxValue="5" />
                            <MudText Color="Color.Error">
                                <ValidationMessage For="() => review.Rating"/>
                            </MudText>
                        </MudItem>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled"
                                    Color="Color.Primary" Class="ml-auto" Size="Size.Large">
                            @Localizer["make-review"]
                        </MudButton>
                    </MudCardActions>
                </MudCard>
            </EditForm>
        </MudItem>
    </MudGrid>
}
else
{
    <LoadingTemplate />
}


