@page "/Order/Details/{Id:int}"
@inject IStringLocalizer<Resource> Localizer
@inject IOrderEndpoint OrderEndpoint
@inject IUserEndpoint UserEndpoint
@inject IArtifactEndpoint ArtifactEndpoint
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager Navigation
@attribute [Authorize]

<PageTitle>@Localizer["order-details"]</PageTitle>

@if (isLoading)
{
    <LoadingTemplate />
}
else if (isAllowed)
{
    <MudGrid Class="mt-3 mb-5">
        <MudItem xs="12">
            <div class="d-flex justify-content-between">
                <MudText Typo="Typo.h6" Class="fw-bold text-uppercase">
                    @Localizer["order-details-description"] @order?.Id
                </MudText>
                <MudIconButton Icon="@Icons.Material.Filled.Close" OnClick="ClosePage" />
            </div>
        </MudItem>
        <MudDivider Class="mb-3" />
        <MudItem xs="12">
            @if (orderDetails is not null)
            {
                <MudDataGrid T="OrderDetailsDisplayModel" Items="orderDetails" ReadOnly="false" EditMode="DataGridEditMode.Form"
                             StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@CommittedItemChanges"
                             Bordered="true" Striped="true" EditTrigger="DataGridEditTrigger.Manual"
                             Filterable="true" QuickFilter="quickFilter" Hover="true" Hideable="true" SortMode="SortMode.Multiple">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">
                            @Localizer["order-details"]
                        </MudText>
                        <MudSpacer />
                        <MudTextField @bind-Value="searchText" Placeholder=@Localizer["search"] Adornment="Adornment.Start" Immediate="true"
                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" />
                    </ToolBarContent>
                    <Columns>
                        <SelectColumn T="OrderDetailsDisplayModel" />
                        <PropertyColumn Property="x => x.Id" Title="Id" Sortable="false" Filterable="false" IsEditable="false" />
                        <PropertyColumn Property="x => x.Artifact.Name" Title="Artifact Name" IsEditable="false" />
                        <PropertyColumn Property="x => x.TotalPrice" Title="Total Price &euro;" IsEditable="false" />
                        <PropertyColumn Property="x => x.Quantity" Title="Total Quantity" IsEditable="true" />
                        <TemplateColumn CellClass="d-flex justify-end">
                            <CellTemplate>
                                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit"
                                               OnClick="@context.Actions.StartEditingItemAsync" />
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                </MudDataGrid>
            }
            <MudExpansionPanels Style="flex:1" Class="mt-5">
                <MudExpansionPanel Text="Show Events">
                    @foreach (string message in events)
                    {
                        <MudText Typo="@Typo.body2">@message</MudText>
                    }
                    @if (events.Count > 0)
                    {
                        <div class="d-flex">
                            <MudSpacer />
                            <MudButton Class="mt-3" ButtonType="ButtonType.Button"
                                       Variant="Variant.Filled" OnClick="@(() => events.Clear())">
                                @Localizer["clear"]
                            </MudButton>
                        </div>
                    }
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudItem>
    </MudGrid>
}
else
{
    <MudGrid Class="mt-3 mb-5" Justify="Justify.Center">
        <MudItem xs="12">
            <MudText Typo="Typo.h5">
                @Localizer["not-allowed"]
            </MudText>
        </MudItem>
    </MudGrid>
}


