@page "/Vendor/{Id:int}"
@inject IStringLocalizer<Resource> Localizer
@inject IVendorEndpoint VendorEndpoint
@inject IArtifactEndpoint ArtifactEndpoint
@inject ICategoryEndpoint CategoryEndpoint
@inject IEraEndpoint EraEndpoint
@inject IImageEndpoint ImageEndpoint
@inject ISessionStorageService SessionStorage
@inject IUserEndpoint UserEndpoint
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager Navigation
@attribute [Authorize]

<PageTitle>@vendor?.Name</PageTitle>

@if (isLoading is false)
{
    <MudGrid Class="mb-4">
        <MudItem xs="3">
            <MudItem xs="12">
                <MudText Typo="Typo.h6">@Localizer["categories"]</MudText>
                <MudDivider Class="mt-3 mb-3" />
            </MudItem>
            <MudItem xs="12">
                <MudButton OnClick="() => OnCategoryClickAsync(null)" Color="@GetSelectedCategory()" Class="mt-1 mb-1">
                    @Localizer["all"]
                </MudButton>
                @if (categories is not null)
                {
                    <MudVirtualize Items="categories" Context="c" OverscanCount="10">
                        <MudItem xs="12">
                            <MudButton @key="@c.Id" Class="mt-1 mb-1" Color="@GetSelectedCategory(c)"
                                       OnClick="() => OnCategoryClickAsync(c)">
                                @c.Name
                            </MudButton>
                        </MudItem>
                    </MudVirtualize>
                }
                <MudButton OnClick="() => ToggleShowAllCategoriesAsync(!showAllCategories)" Color="Color.Secondary"
                           Size="Size.Small">
                    @((showAllCategories ? Localizer["see-less"] : Localizer["see-more"]))
                </MudButton>
            </MudItem>
            <MudItem xs="12">
                <MudText Typo="Typo.h6">@Localizer["eras"]</MudText>
                <MudDivider Class="mt-3 mb-3" />
                <MudItem xs="12">
                    <MudButton OnClick="() => OnEraClickAsync(null)" Color="@GetSelectedEraClass()" Class="mt-1 mb-1">
                        @Localizer["all"]
                    </MudButton>
                </MudItem>
                @if (eras is not null)
                {
                    <MudVirtualize Items="eras" Context="e" OverscanCount="10">
                        <MudItem xs="12">
                            <MudButton @key="@e.Id" Class="mt-1 mb-1" Color="@GetSelectedEraClass(e)"
                                       OnClick="() => OnEraClickAsync(e)">
                                @e.Name
                            </MudButton>
                        </MudItem>
                    </MudVirtualize>
                }
                <MudButton OnClick="() => ToggleShowAllErasAsync(!showAllEras)" Color="Color.Secondary"
                           Size="Size.Small">
                    @((showAllEras ? @Localizer["see-less"] : @Localizer["see-more"]))
                </MudButton>
            </MudItem>
            <MudItem xs="12">
                <MudText Typo="Typo.h6">@Localizer["rating"]</MudText>
                <MudDivider Class="mt-3 mb-3" />
                <MudVirtualize Items="ratings" Context="r" OverscanCount="10">
                    <MudItem xs="12" @onclick="() => OnRatingClickAsync(r)">
                        <MudRating SelectedValue="@GetRatingValue(r)" Color="@GetSelectedRating(r)" ReadOnly="true" />
                    </MudItem>
                </MudVirtualize>
            </MudItem>
        </MudItem>
        <MudItem xs="9">
            <MudItem xs="12">
                <div class="d-flex justify-content-end">
                    <button @onclick="ClosePage" class="btn btn-close btn-close-white"></button>
                </div>
                <MudItem>
                    <MudImage Src="@((string.IsNullOrWhiteSpace(imageSource) ? "https://dummyimage.com/1100x250/000/fff" : imageSource))"
                              Fluid="true" Alt="@vendor?.Name" />
                </MudItem>
                <MudDivider Class="mt-3 mb-3" />
                <MudItem>
                    <MudItem Class="d-flex justify-content-between">
                        <MudText Typo="Typo.h5" Class="fw-bold text-uppercase">
                            @vendor?.Name
                        </MudText>
                        @if (vendor?.Owner?.Id == loggedInUser?.Id)
                        {
                            <MudFab Color="Color.Error" OnClick="SendDeleteRequestAsync"
                                    StartIcon="@Icons.Material.Filled.Delete" Label="Delete Vendor" />
                        }
                    </MudItem>
                    <MudText Typo="Typo.subtitle1">
                        @vendor?.Description
                    </MudText>
                    <MudDivider Class="mt-3 mb-3" />
                    <MudText Typo="Typo.subtitle2">
                        @Localizer["founded-on"] @vendor?.DateFounded
                    </MudText>
                </MudItem>
            </MudItem>
            <MudItem xs="12" Class="mt-5">
                <MudGrid>
                    <MudItem xs="6" Class="mt-auto mb-auto">
                        <MudText Typo="Typo.body1" Class="fw-bold text-uppercase">
                            @artifacts?.Count @Localizer["results"]
                        </MudText>
                    </MudItem>
                    <MudItem xs="6" Class="d-flex justify-content-end">
                        <MudStack Row Spacing="3">
                             <MudFab OnClick="() => OnFilterButtonClickAsync(false)" Color="GetSelectedFiltering(false)"
                                     StartIcon="@Icons.Material.Filled._18UpRating" Label="@Localizer["rating"]" />
                             <MudFab OnClick="() => OnFilterButtonClickAsync(true)" Color="GetSelectedFiltering(true)"
                                     StartIcon="@Icons.Material.Filled.PriceCheck" Label="@Localizer["price"]" />
                         </MudStack>
                     </MudItem>
                 </MudGrid>
             </MudItem>
             <MudItem xs="12">
                 <MudAutocomplete T="string" Label=@Localizer["search"]
                                  SearchFunc="SearchArtifactsAsync" ResetValueOnEmptyText="true"
                                  ValueChanged="OnSearchInputAsync" />
             </MudItem>
             <MudDivider Class="mb-3 mt-3" />
             <MudItem xs="12">
                 <div class="d-flex justify-content-end">
                     <MudButton OnClick="LoadListingPage"
                                Variant="Variant.Filled" Color="Color.Primary">
                         @Localizer["see-more"]
                     </MudButton>
                 </div>
                 <MudGrid>
                     @if (artifacts is not null)
                    {
                        <MudVirtualize Items="artifacts" Context="a">
                            <ArtifactTemplate @key="a.Id" Artifact="a" />
                        </MudVirtualize>
                    }
                </MudGrid>
            </MudItem>
        </MudItem>
    </MudGrid>
}
else
{
    <LoadingTemplate />
}


