@page "/Admin"
@inject IStringLocalizer<Resource> Localizer
@inject IArtifactEndpoint ArtifactEndpoint
@inject NavigationManager Navigation
@attribute [Authorize(Policy = "Admin")]

<PageTitle>@Localizer["admin-hub"]</PageTitle>

<MudGrid Class="mt-3 mb-5">
    <MudItem xs="12" sm="6" md="4">
        <MudPaper Elevation="2" Class="pa-4" Height="220px">
            <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center">
                <MudTooltip Text=@Localizer["create-artifact"]>
                    <MudFab OnClick="LoadCreateArtifactPage" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Article"
                            IconSize="Size.Large" Size="Size.Large" Label=@Localizer["create-artifact"] />
                </MudTooltip>
                <MudImage Src="images/artifact.png" Height="120"
                          Class="rounded-lg" Elevation="25" Alt=@Localizer["artifact"] />
            </MudStack>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudPaper Elevation="2" Class="pa-4" Style="height: 220px;">
            <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center">
                <MudTooltip Text=@Localizer["create-vendor"]>
                    <MudFab OnClick="LoadCreateVendorPage" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Article"
                            IconSize="Size.Large" Size="Size.Large" Label=@Localizer["create-vendor"] />
                </MudTooltip>
                <MudImage Src="images/vendor.png" Height="120"
                          Class="rounded-lg" Elevation="25" Alt=@Localizer["vendor"] />
            </MudStack>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="12" md="4">
        <MudPaper Elevation="2" Class="pa-4" Style="height: 220px;">
            <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center">
                <MudTooltip Text=@Localizer["order-listing"]>
                    <MudFab OnClick="LoadOrderListingPage" Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.Article"
                            IconSize="Size.Large" Size="Size.Large" Label=@Localizer["order-listing"] />
                </MudTooltip>
                <MudImage Src="images/order-listing.png" Height="120"
                          Class="rounded-lg" Elevation="25" Alt=@Localizer["order-listing"] />
            </MudStack>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudGrid>
            <MudItem xs="12">
                <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                    <MudItem xs="12">
                        <MudText Typo="Typo.h5" Class="fw-bold text-uppercase text-decoration-underline">
                            @Localizer["admin-guidelines"]
                        </MudText>
                        <MudDivider Class="mt-3 mb-3" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudText Typo="Typo.body1">
                            @Localizer["admin-guidelines-text"]
                        </MudText>
                    </MudItem>
                </MudPaper>
            </MudItem>
            <MudItem xs="12">
                <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                    <MudItem xs="12">
                        <MudText Typo="Typo.h5" Class="fw-bold text-uppercase text-decoration-underline">
                            @Localizer["general-guidelines"]
                        </MudText>
                        <MudDivider Class="mt-3 mb-3" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudText Typo="Typo.body1">
                            @Localizer["general-guidelines-text"]
                        </MudText>
                    </MudItem>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
            @if (artifacts is not null)
            {
                <MudCarousel Class="mud-width-full" ItemsSource="@artifacts" Style="height:100%;"
                             ShowArrows="true" ShowBullets="false" EnableSwipeGesture="true" AutoCycle="true">
                    <ItemTemplate>
                        <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                            <ArtifactCarouselTemplate Artifact="@context"/>
                        </div>
                    </ItemTemplate>
                </MudCarousel>
            }
        </MudPaper>
    </MudItem>
</MudGrid>


