@page "/Admin/Artifact/Create"
@inject IStringLocalizer<Resource> Localizer
@inject IArtifactEndpoint ArtifactEndpoint
@inject ICategoryEndpoint CategoryEndpoint
@inject IEraEndpoint EraEndpoint
@inject IVendorEndpoint VendorEndpoint
@inject IUserEndpoint UserEndpoint
@inject IImageEndpoint ImageEndpoint
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager Navigation
@attribute [Authorize(Policy = "Admin")]

<PageTitle>@Localizer["create-artifact"]</PageTitle>

@if (isLoading)
{
    <LoadingTemplate />
}
else if (isCreatingArtifact)
{
    <CreatingTemplate ItemType="Item.Artifact"/>
}
else if (viewPreview is false)
{
    <MudGrid Class="mt-3 mb-5">
        @if (string.IsNullOrWhiteSpace(errorMessage) is false)
        {
            <MudAlert Severity="Severity.Error" Elevation="3">
                @errorMessage
            </MudAlert>
        }
        <MudItem xs="12">
            <EditForm Model="artifact" OnValidSubmit="CreateArtifactAsync">
                <DataAnnotationsValidator />
                <MudGrid>
                    <MudItem xs="12">
                        <MudCard>
                            <MudCardMedia Image="@((string.IsNullOrWhiteSpace(imageSource) ? "https://dummyimage.com/600x400/000/fff" : imageSource))"
                                          Height="200" />
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.h6" Class="fw-bold text-uppercase">
                                        @Localizer["create-artifact"]
                                    </MudText>
                                </CardHeaderContent>
                                <CardHeaderActions>
                                    <MudButton StartIcon="@Icons.Material.Filled.Preview" Color="Color.Info" OnClick="LoadPreview">
                                        @Localizer["load-preview"]
                                    </MudButton>
                                    <MudIconButton Icon="@Icons.Material.Filled.Close" OnClick="ClosePage" />
                                </CardHeaderActions>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudGrid>
                                    <MudItem xs="12">
                                        <MudTextField @bind-Value="artifact.Name" Label=@Localizer["artifact-name"]
                                                      Required="true" Variant="Variant.Outlined" Clearable="true"
                                                      HelperText=@Localizer["artifact-name-description"] />
                                        <MudText Color="Color.Error">
                                            <ValidationMessage For="() => artifact.Name" />
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudTextField @bind-Value="artifact.Description" Label=@Localizer["artifact-description"]
                                                      Lines="2" Required="true" Variant="Variant.Outlined" Clearable="true"
                                                      HelperText=@Localizer["artifact-description-description"] />
                                        <MudText Color="Color.Error">
                                            <ValidationMessage For="() => artifact.Description" />
                                        </MudText>
                                    </MudItem>

                                    <MudItem xs="6">
                                        <MudNumericField @bind-Value="artifact.Quantity" Label=@Localizer["quantity"] Required="true"
                                                         Variant="Variant.Outlined" Clearable="true"
                                                         HelperText=@Localizer["artifact-quantity-description"] />
                                        <MudText Color="Color.Error">
                                            <ValidationMessage For="() => artifact.Quantity" />
                                        </MudText>
                                    </MudItem>

                                    <MudItem xs="6">
                                        <MudNumericField @bind-Value="artifact.Price" Label=@Localizer["price"] Required="true"
                                                         Variant="Variant.Outlined" Clearable="true"
                                                         HelperText=@Localizer["artifact-price-description"] />
                                        <MudText Color="Color.Error">
                                            <ValidationMessage For="() => artifact.Price" />
                                        </MudText>
                                    </MudItem>

                                    <MudItem xs="12">
                                        <MudNumericField @bind-Value="artifact.DiscountAmount" Label=@Localizer["artifact-discount-amount"] 
                                                         Required="true"
                                                         Variant="Variant.Outlined" Clearable="true"
                                                         HelperText=@Localizer["artifact-discount-amount-description"] />
                                        <MudText Color="Color.Error">
                                            <ValidationMessage For="() => artifact.DiscountAmount" />
                                        </MudText>
                                    </MudItem>

                                    <MudItem xs="6">
                                        <MudSelect @bind-Value="artifact.CategoryId" Variant="Variant.Outlined"
                                                   Label=@Localizer["artifact-category"]>
                                            @if (categories is not null)
                                            {
                                                <MudVirtualize Items="categories" Context="c" OverscanCount="10">
                                                    <MudSelectItem @key="@c.Id" Value="@c.Id">@c.Name</MudSelectItem>
                                                </MudVirtualize>
                                            }
                                        </MudSelect>
                                        <MudText Color="Color.Error">
                                            <ValidationMessage For="() => artifact.CategoryId" />
                                        </MudText>
                                    </MudItem>

                                    <MudItem xs="6">
                                        <MudSelect @bind-Value="artifact.EraId" Variant="Variant.Outlined"
                                                   Label=@Localizer["artifact-era"]>
                                            @if (eras is not null)
                                            {
                                                <MudVirtualize Items="eras" Context="e" OverscanCount="10">
                                                    <MudSelectItem @key="@e.Id" Value="@e.Id">@e.Name</MudSelectItem>
                                                </MudVirtualize>
                                            }
                                        </MudSelect>
                                        <MudText Color="Color.Error">
                                            <ValidationMessage For="() => artifact.EraId" />
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudAutocomplete Label=@Localizer["artifact-owner"]
                                                         HelperText=@Localizer["artifact-owner-description"]
                                                         SearchFunc="SearchVendorsAsync"
                                                         ValueChanged="(e) => artifact.VendorId = e.Id" T="VendorDisplayModel"
                                                         ToStringFunc="@(e => e==null?null : $"{e.Name} - {e.Id}")"
                                                         Variant="Variant.Outlined">
                                            <NoItemsTemplate>
                                                <MudText>
                                                    @Localizer["no-vendor-found"]
                                                </MudText>
                                            </NoItemsTemplate>
                                        </MudAutocomplete>
                                        <MudText Color="Color.Error">
                                            <ValidationMessage For="() => artifact.VendorId" />
                                        </MudText>
                                    </MudItem>
                                </MudGrid>
                            </MudCardContent>
                            <MudCardActions>
                                <MudFileUpload T="IBrowserFile" FilesChanged="HandleImageSelected" Context="file_context">
                                    <ButtonTemplate>
                                        <MudFab HtmlTag="label"
                                                Color="Color.Secondary"
                                                StartIcon="@Icons.Material.Filled.Image"
                                                Label=@Localizer["load-picture"]
                                                for="@file_context" />
                                    </ButtonTemplate>
                                </MudFileUpload>
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled"
                                           Color="Color.Primary" Class="ml-auto" Size="Size.Large">
                                    @Localizer["make-artifact"]
                                </MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudItem>
    </MudGrid>
}
else
{
    <MudGrid Justify="Justify.Center" Class="mt-3 mb-5">
        <MudItem xs="12">
            <MudGrid Justify="Justify.Center">
                <MudItem xs="12">
                    <div class="d-flex justify-content-between">
                        <MudText Typo="Typo.h5">This is a preview on how your artifact will look like in the store.</MudText>
                        <MudButton Color="Color.Info" StartIcon="@Icons.Material.Filled.Close" OnClick="() => viewPreview = false">
                            @Localizer["close-preview"]
                        </MudButton>
                    </div>
                </MudItem>
                <MudItem xs="12">
                    <MudDivider Class="mt-3 mb-3" />
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="4">
            <MudCard Class="m-2">
                <MudCardMedia Image="@((string.IsNullOrWhiteSpace(imageSource) ? "https://dummyimage.com/600x400/000/fff" : imageSource))"
                              Height="200" alt="@artifact?.Name" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">@artifact?.Name</MudText>
                    <MudText Typo="Typo.body2">@artifact?.Description</MudText>
                    <MudDivider Class="mt-3 mb-3" />
                    <MudRating SelectedValue="3" />
                    <MudText Typo="Typo.body2">@Localizer["artifact-sold"]: @selectedVendor?.Name</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Error"
                               StartIcon="@Icons.Material.Filled.AddShoppingCart">
                        @Localizer["add-cart"]
                    </MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.Details">
                        @Localizer["learn-more"]
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
}



