@page "/Admin/OrderDetails/{Id:int}"
@inject IOrderEndpoint OrderEndpoint
@inject IUserEndpoint UserEndpoint
@inject IArtifactEndpoint ArtifactEndpoint
@inject NavigationManager Navigation
@attribute [Authorize(Policy = "Admin")]

<PageTitle>Order Details</PageTitle>

@if (isLoading is false)
{
    <MudGrid Class="mt-3 mb-5">
        <MudItem xs="12">
            <div class="d-flex justify-content-between">
                <MudText Typo="Typo.h6" Class="fw-bold text-uppercase">
                    Order Details of @userFullName
                </MudText>
                <MudIconButton Icon="@Icons.Material.Filled.Close" OnClick="ClosePage"/>
            </div>
        </MudItem>
        <MudDivider Class="mb-3"/>
        <MudItem xs="12">
            @if (orderDetails is not null)
            {
                <MudDataGrid T="OrderDetailsDataModel" Items="orderDetails" Filterable="true" SortMode="SortMode.Multiple"
                             Hideable="true" Bordered="true" Hover="true" Striped="true" QuickFilter="quickFilter"
                             EditMode="@(isCellEditMode ? DataGridEditMode.Cell : DataGridEditMode.Form)"
                             EditTrigger="@(editTriggerRowClick ? DataGridEditTrigger.OnRowClick : DataGridEditTrigger.Manual)"
                             CommittedItemChanges="(e) => UpdateOrderAsync(e)">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Order Details</MudText>
                        <MudSpacer />
                        <MudTextField @bind-Value="searchText" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" />
                    </ToolBarContent>
                    <Columns>
                        <SelectColumn T="OrderDetailsDataModel"/>
                        <PropertyColumn Property="x => x.OrderDetails.Id" Title="Id" Sortable="false" Filterable="false"/>
                        <PropertyColumn Property="x => x.Artifact.Name" Title="Artifact Name"/>
                        <PropertyColumn Property="x => x.OrderDetails.Quantity" Title="Quantity"/>
                        <PropertyColumn Property="x => x.TotalPrice" Title="Total Price &euro;" />
                        <PropertyColumn Property="x => x.OrderDetails.Quantity" Title="Total Quantity"/>
                        <TemplateColumn Hidden="@(isCellEditMode || readOnly || editTriggerRowClick)" CellClass="d-flex justify-end">
                            <CellTemplate>
                                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit"
                                               OnClick="@context.Actions.StartEditingItemAsync" />
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                </MudDataGrid>
            }
        </MudItem>
    </MudGrid>
}
else
{
    <LoadingTemplate />
}

@code {
    [Parameter]
    public int Id { get; set; }

    private UpdateOrderModel updatedOrder = new();
    private OrderModel order;
    private UserModel user;
    private List<OrderDetailsDataModel> orderDetails;

    private string searchText = "";
    private string userFullName = "";

    private decimal totalPrice = 0;
    private int totalItems = 0;

    private bool isLoading = true;
    private bool readOnly;
    private bool isCellEditMode;
    private bool editTriggerRowClick;

    protected override async Task OnInitializedAsync()
    {
        order = await OrderEndpoint.GetOrderByIdAsync(Id);
        updatedOrder = new(order);

        await LoadOrderDetailsAsync();
        await CalculatePriceAndItems();

        user = await UserEndpoint.GetUserByIdAsync(order.UserId);
        userFullName = $"{user?.FirstName} {user?.LastName}";

        isLoading = false;
    }

    private async Task LoadOrderDetailsAsync()
    {
        var orderDetailsList = await OrderEndpoint.GetOrderDetailsByOrderIdAsync(Id);
        var list = new List<OrderDetailsDataModel>();

        foreach (var o in orderDetailsList)
        {
            var data = new OrderDetailsDataModel(o);
            data.Artifact = await ArtifactEndpoint.GetArtifactByIdAsync(o.ArtifactId);
            data.TotalPrice = (decimal)o.Quantity * data.Artifact.Price;

            list.Add(data);
        }

        orderDetails = list.ToList();
    }

    private void ClosePage()
    {
        Navigation.NavigateTo("/Admin/OrderListing");
    }

    private async Task CalculatePriceAndItems()
    {
        decimal price = 0;
        int itemCounts = 0;

        var uniqueArtifacts = new Dictionary<int, int>();

        foreach (var item in orderDetails)
        {
            if (uniqueArtifacts.ContainsKey(item.Artifact.Id) is false)
            {
                uniqueArtifacts[item.Artifact.Id] = 0;
            }

            uniqueArtifacts[item.Artifact.Id] += item.OrderDetails.Quantity;
        }

        foreach (var kvp in uniqueArtifacts)
        {
            var artifact = await ArtifactEndpoint.GetArtifactByIdAsync(kvp.Key);
            price += (decimal)artifact.Price * kvp.Value;
            itemCounts += kvp.Value;
        }

        totalPrice = price;
        totalItems = itemCounts;
    }

    private List<OrderDetailsModel> GetOrderDetailsList()
    {
        var list = new List<OrderDetailsModel>();

        foreach (var item in orderDetails)
        {
            list.Add(item.OrderDetails);
        }

        return list;
    }

    private async Task UpdateOrderAsync(OrderDetailsDataModel orderDetailsData)
    {
        if (IsUpdateAvailable() is false)
        {
            return;
        }

        var orderDetails = GetOrderDetailsList();
        var details = orderDetails.FirstOrDefault(x => x.Id == orderDetailsData.OrderDetails.Id);
        orderDetails.Remove(details);

        details.Quantity = orderDetailsData.OrderDetails.Quantity;
        orderDetails.Add(details);

        var request = new OrderRequestModel()
            {
                Order = order,
                OrderDetails = orderDetails,
            };

        await OrderEndpoint.UpdateOrderAsync(request);
    }

    private async Task DeleteOrderAsync()
    {
        await OrderEndpoint.DeleteOrderAsync(order);
        ClosePage();
    }

    private bool IsUpdateAvailable()
    {
        if (updatedOrder.IsCanceled != order.IsCanceled ||
            updatedOrder.IsComplete != order.IsComplete)
        {
            return true;
        }

        return false;
    }

    private Func<OrderDetailsDataModel, bool> quickFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(searchText))
        {
            return true;
        }

        if (x.Artifact.Name.Contains(searchText, StringComparison.InvariantCultureIgnoreCase))
        {
            return true;
        }

        return false;
    };
}
